<section class="pd-inner-header" style="background-image: url({{bnImg}});">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>

<!-- about-body -->

<section class="abt-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{mainIm}}">
            </div>
            <div class="col-lg-6">
                <h2>{{tit}}</h2>
                <p>{{desc}}</p>
            </div>
        </div>
    </div>
</section>

<!-- testimonial slider -->
<section class="abt-slider">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <owl-carousel-o [options]="customOptions2">
                    <!-- item -->
                    <ng-template carouselSlide *ngFor ="let about_slider_bottom of abt_slid; let i = index">
                        <img src="{{about_slider_bottom.image}}">                    
                    </ng-template>
                </owl-carousel-o>

            </div>
        </div>
    </div>
</section>