<section class="pd-inner-header" style="background-image: url('../../assets/img/slider-3.jpg');">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>

<section class="o-s-body bg-def">
    <div class="container">


        <div class="row" *ngFor = "let serv_items of o_service_itm ">
            <div class="col-lg-6">
                <img src="{{serv_items.image}}" class="w-100">
            </div>

            <div class="col-lg-6">
                <h2>{{serv_items.title}}</h2>
                <p>{{serv_items.description_short}}</p>
                <a routerLink="service-single">Read More</a>
            </div>
        </div>
       




    </div>
</section>