.o-s-body{
    padding: 3% 0;
}

.o-s-body .row{
    padding: 3% 0;
}

.o-s-body a{
    color:white
}

.o-s-body a:hover{
    color: white;
    text-decoration: none;
}

.o-s-body .row:nth-child(even){
    flex-direction: row-reverse;
}

.o-s-body .row:nth-child(even) .col-lg-6{
    text-align: right;
}