<section class="pd-inner-header" style="background-image: url('../../assets/img/slider-1.jpg');">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>

<section class="pd-blog-body">
    <div class="container">

        <div class="card-deck row">

            <div class="col-lg-4">
                <a routerLink="view">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/slider-1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">lorem ipsum</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer...</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4">
                <a routerLink="view">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/slider-2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">lorem ipsum</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer...
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4">
                <a routerLink="view">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/slider-3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">lorem ipsum</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer...</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4">
                <a routerLink="view">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/slider-3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">lorem ipsum</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer...</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4">
                <a routerLink="view">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/slider-3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">lorem ipsum</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer...</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4">
                <a routerLink="view">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/slider-3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">lorem ipsum</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer...</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </a>
            </div>




        </div>



    </div>
</section>