@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;     
}

.pd-navbar-sec{
    background: #232228;
}
.pd-navbar-sec .nav-link {
    color: white;
    padding: 10px 15px !important;
    font-family: 'Galada', cursive ; 
}

.pd-footer{
    padding: 20px 0;
    background: #232228;
    color: white;
}

.pd-footer p{
    margin: 0;
}

.pd-centred-nav{
    width: 100%;
    text-align: center;
    justify-content: center;
}

.pd-blog-slider-sec .owl-theme .owl-nav .owl-prev, .pd-blog-slider-sec .owl-theme .owl-nav .owl-next,
.abt-slider .owl-theme .owl-nav .owl-prev, .abt-slider .owl-theme .owl-nav .owl-next {
	background: #232228 !important;
	background-color: #232228 !important;
}

.pd-inner-header{
    background-size: cover;
    height:200px;
    background-position:center;
    background-repeat: no-repeat;
}

.bg-def{
    background: #232228;
    color: white;
}