.pd-navbar-sec{
    background: #212d2a;
}
.pd-navbar-sec .nav-link {
    color: white;
}

.pd-footer{
    padding: 20px 0;
    background: #212d2a;
    color: white;
}

.pd-footer p{
    margin: 0;
}