<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active" *ngFor="let Homepages of Homepage let i = index" [ngClass]="{'active' : i == 0}">
      <img class="d-block w-100" src="{{Homepages.image}}" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{Homepages.main_title}}</h5>
        <p>{{Homepages.sub_title}}</p>
      </div>
    </div>



  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- === about us section === -->
<section class="text-center about">
  <h2>About US</h2>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" *ngFor="let aboutHome of Homepage_about; let i = index"
        data-wow-offset="200">
        <fa-icon [icon]="faAward" ></fa-icon>
        <!-- <fa-icon [icon]="faCloudUploadAlt" ></fa-icon>
        <fa-icon [icon]="faCoins" ></fa-icon> -->
        <h3>{{aboutHome.title}}</h3>
        <p class="lead">{{aboutHome.description}}</p>
      </div> 
    </div>
  </div>
</section>

<!-- number counter -->
<section class="number-counter">
  <div class="container">
    <div class="row">

      <!-- number card -->
      <div class="col-lg-4" *ngFor = "let status of Homepage_status; let i = index" >
        <div class="pd-num-card text-center">
          <h2 id="val{{i+1}}">{{status.amount}}</h2>
          <p>{{status.title}}</p>
        </div>
      </div>   

    </div>
  </div>
</section>

<!-- ========== image gallary section ======== -->

<section class="pd-gallary-sec">
  <div class="container">
    <h2 class="text-center">Gallary</h2>
    <ngx-image-gallery [images]="homepage_gallary" [conf]="conf" (onOpen)="galleryOpened($event)" (onClose)="galleryClosed()"
      (onImageClicked)="galleryImageClicked($event)" (onImageChange)="galleryImageChanged($event)"
      (onDelete)="deleteImage($event)">
    </ngx-image-gallery>
  </div>
</section>

<!-- ==== blog slider section ==== -->

<section class="pd-blog-slider-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">Blog</h2>

        <owl-carousel-o [options]="customOptions" >
          <!-- item -->
          <ng-template carouselSlide *ngFor="let blog_items of blog_home">
            <div class="card">
              <img class="card-img-top" src="{{blog_items.image}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{blog_items.title}}</h5>
                <p class="card-text">{{blog_items.short_desc}}</p>
                <a href="#">View More</a>
              </div>
            </div>
          </ng-template>
          <!-- item -->
        
        </owl-carousel-o>
      </div>


    </div>
  </div>
</section>