* {
	color:#ffffff91;
}

section{
	background-color: #1b1a1f;
	padding:3% 0;
}
.about{
	cursor: pointer;
	background-color: #1b1a1f;
	color: #FFFFFF;
	padding: 3% 0;
}
.about h2 {
	padding: 10px 0;
	margin-bottom: 20px;
	color: #ffffff91;
}
.about h3 {
	opacity: .8;
}
.about span {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin:auto;
	border-radius:50%;  
	font-size: 40px;
	color: #FFFFFF;
	opacity: 0.7;
	background-color: #ffffffc7;
	border: 2px solid #ffffffc7;

	webkit-transition:all .5s ease;
 	moz-transition:all .5s ease;
 	os-transition:all .5s ease;
 	transition:all .5s ease;

}
.about-item:hover span{
	opacity: 1;	
	border: 2px solid #ffffffc7;
	font-size: 42px;
	-webkit-transform: scale(1.1,1.1) rotate(360deg) ;
	-moz-transform: scale(1.1,1.1) rotate(360deg) ;
	-o-transform: scale(1.1,1.1) rotate(360deg) ;
	transform: scale(1.1,1.1) rotate(360deg) ;
}
.about-item:hover h2{
	opacity: 1;
	-webkit-transform: scale(1.1,1.1)  ;
	-moz-transform: scale(1.1,1.1)  ;
	-o-transform: scale(1.1,1.1)  ;
	transform: scale(1.1,1.1) ;
}
.about .lead{
	color: #ffffff91;
	font-size: 14px;
	font-weight: bold;
}
.about fa-icon{
	font-size: 50px;
    margin: 10px;
}


.number-counter{
	padding: 3% 0;
    background: #1b1a1f;
    color: white;
}

.number-counter .col-lg-4{
	padding: 20px;
}

.number-counter .pd-num-card {
    background: #232228;
    padding: 25px;
}

.number-counter .pd-num-card p{
	margin-bottom:0;
}

.pd-gallary-sec{
	background: #1b1a1f;
	padding: 3% 0;
}

.pd-gallary-sec h2{
	color: #ffffff91;
    padding: 2% 0;
}